[2015-12-16 08:25] tomtom5152 opened #3 "New committee"
Update the committee pages to be correct.

Have approval from:
- Vik via Facebook
- AJ via telegram

[2015-12-16 08:25] tomtom5152 opened #4 "Typo on homepage"
Button says "scoll" instead of "scroll"

[2015-12-18 02:59] tomtom5152 commented on #3
Closed via bd53ea4

[2015-12-18 02:59] #3 closed

[2015-12-18 17:07] #4 closed

[2016-01-07 15:51] nhyty opened #5 "Contact us page"
Simple as it sounds

[2016-01-07 16:43] tomtom5152 opened #6 "Sticky footer"
Make the footer always stay at the bottom regardless of if the content isn't tall enough.

[2016-01-11 14:28] tomtom5152 opened #7 "Get Involved Page"
Should probably have a page for getting involved, things like who to contact and a brief overview of HNTD etc.

[2016-01-11 19:12] tomtom5152 opened #9 "Use Hugo Menus"
We should probably use [Hugo Menus](http://gohugo.io/extras/menus/) instead of doing it manually.

[2016-01-13 02:43] tomtom5152 opened #11 "Get involved page"
Have a full get involved page with a bunch of information for potential new members. Suggested wording from [abandoned dev site](http://dev.nottinghamtec.co.uk/about/join-tec/). Would require some rewording to make sense on the new site.

[2016-01-13 02:51] tomtom5152 opened #12 "Services Pages"
Something to describe what it is we do, and how we can help most people plan their event etc. Similar idea to the same pages on the [abandoned dev site](http://dev.nottinghamtec.co.uk/services/)

[2016-01-13 02:55] tomtom5152 opened #13 "Update mission statement"
The [mission statement](http://www.nottinghamtec.co.uk/mission-statement.pdf) is currently using the old logo and should probably be update

#LongLiveTheSwoosh

[2016-01-13 02:56] tomtom5152 opened #14 "Update PLI"
There's probably something illegal about displaying [out of date PLI](http://www.nottinghamtec.co.uk/PLI.pdf) if we should even show it at all.

[2016-01-13 02:59] tomtom5152 opened #15 "Remove spaces in tel: links"
Currently only spotted on the index page but worth checking for it elsewhere.

[2016-01-13 13:47] #13 closed

[2016-01-13 13:49] #15 closed

[2016-01-13 14:30] #5 closed

[2016-01-13 15:07] tomtom5152 commented on #7
Duplicate of #11 but the other one has more useful information in it

[2016-01-13 15:07] #7 closed

[2016-01-13 15:07] tomtom5152 commented on #9
Closed by #10

[2016-01-13 15:07] #9 closed

[2016-01-13 15:10] tomtom5152 commented on #11
Hazel is going to have a go at improving this

[2016-01-13 15:10] #6 closed

[2016-01-13 15:11] pickleshb opened #16 "responsive container"
#index-banner doesn't fit some screens

[2016-01-19 17:26] johnathan99j commented on #14
I'm all for displaying it but i don't know if we're meant to or not. Either way, here's the 2015-16 copy.
[PL Confirmation 2015.pdf](https://github.com/nottinghamtec/Main-Website/files/96311/PL.Confirmation.2015.pdf)

[2016-01-19 18:07] tomtom5152 commented on #14
Just given you write access to the repo, do you feel like updating it?

[2016-01-19 18:31] johnathan99j commented on #14
I'll give it a go.

[2016-01-19 18:38] johnathan99j commented on #14
I've updated master, no idea how to make it go live.
Edit: It seems to do it automatically after a certain amount of time.

[2016-01-19 18:44] tomtom5152 commented on #14
You just have to push to master, travis then takes over and rebuilds the site with the new content.

For future reference, GH also allows you to close issues from commit messages using `closes #<commit number>` syntax. Closed via a38c55b

[2016-01-19 18:44] #14 closed

[2016-01-21 23:30] samozzy opened #17 "Spellings"
The "Join TEC" box on the home page has spelling errors. The words "definitely" and "our" are spelled incorrectly.

[2016-01-21 23:31] samozzy commented on #12
Two suggestions:
a) Embedding the portfolio through wizardry
b) The return of packages. "Speakers of this size from £80 ex. VAT"

[2016-01-22 12:03] tomtom5152 commented on #17
Did you intend to reopen this?

[2016-01-22 12:06] tomtom5152 commented on #12
Depending how ambitious we were feeling, we could just make it the portfolio in a very snazzy way where it is all one one page with some form of scrolling.

Package are a definite thing we should add, give people a rough idea of at least how much they need to budget for.

[2016-01-22 12:42] samozzy commented on #17
I intended to close it with a "this was resolved in" thingy like on bitbucket but couldn't find the button.

[2016-01-22 12:42] #17 closed

[2016-01-22 12:43] tomtom5152 commented on #17
Hint, make you commit message `closes #17` and it would take care of it
automatically when you merged :P

On 22 January 2016 at 12:42, samozzy notifications@github.com wrote:

[2016-01-24 16:43] samozzy opened #19 "Committee Pictures"
Jono's is v. v. unprofesh, especially for TD. Suggest changing to something less silly, but I can't find any examples :(

[2016-01-24 16:46] tomtom5152 commented on #19
Thats was my issue, if you can find a better one, please feel free to
create PR with it.

On Sun, 24 Jan 2016 at 16:43 samozzy notifications@github.com wrote:

Tom Price

[2016-01-25 18:55] samozzy opened #20 "Production(s)"
?????

[2016-01-25 20:37] samozzy opened #21 "MIC on paperwork"
Please and thank

[2016-01-25 20:37] samozzy opened #22 "Quote and contract"
Separate and conditional buttons please and thank

[2016-01-25 20:38] samozzy commented on #22
Belongs on nottinghamtec/PyRIGS >_<

[2016-01-25 20:38] samozzy commented on #21
Belongs on nottinghamtec/PyRIGS >_<

[2016-01-25 20:39] #22 closed

[2016-01-25 20:39] #21 closed

[2016-01-26 12:22] nhyty commented on #20
??????

[2016-01-26 14:06] tomtom5152 opened #23 "Hide try-it page"
One for after the day, just mark the page as draft again so it isn't displayed on the website.

Also remove the link from the homepage.

[2016-01-26 15:00] johnathan99j commented on #20
To confirm, should it be Production Manager or Productions Manager ?

[2016-01-26 15:28] samozzy commented on #20
Production singular.

[2016-01-26 15:32] tomtom5152 commented on #20
You want to change the file in the data directory I think, really quick and
easy fix.

I personally think it should be plural, this may well be something to fix
in the constitution tonight.

On 26 January 2016 at 15:28, samozzy notifications@github.com wrote:

[2016-01-26 15:35] johnathan99j commented on #19
If this is better I'm happy to push it.
![johnathan](https://cloud.githubusercontent.com/assets/15066398/12585080/5ef55b8a-c442-11e5-874f-b2d816de26c6.jpg)

[2016-01-27 00:30] samozzy commented on #19
Closed with #24

[2016-01-27 21:02] tomtom5152 opened #27 "Venues"
One thing that I think would be cool to do is build a public catalog of venues we have worked in, both for a "this is what we can do" thing, and for bigger spaces such as Studio 7, a "this is what can be done in this specific space" type thing.

The idea came about after speaking with Alex Daniel where he wasn't happy for Conferences to use his photos for publicising S7, although whoever does it w

[2016-01-27 21:39] tomtom5152 opened #28 "Favicon"
Currently missing. Should be added

[2016-01-27 21:40] tomtom5152 commented on #16
Could you provide a screenshot of this please so I can attempt to fix it?

[2016-01-27 21:48] johnathan99j commented on #28
As far as I know the Favoicon is just the icon used in the tab and favourites right ? This works fine for me.

[2016-01-27 21:49] tomtom5152 commented on #28
It will work fine if you ever viewed the old site as it will just use the
cached one. Currently it doesn't have one set for new visitors.

On Wed, 27 Jan 2016 at 21:48 Johnathan Graydon notifications@github.com
wrote:

Tom Price

[2016-01-27 22:09] johnathan99j commented on #28
I dug around in my cache and found this. (had to put in zip as it doesn't support uploading .ico)
Also where should this go in the site structure ? I'd guess at root ?
[favicon.zip](https://github.com/nottinghamtec/Main-Website/files/107434/favicon.zip)

[2016-01-27 22:19] samozzy commented on #27
Then photos and blurby bits on these venues. I would include: Mooch, Den and Live, Studio 7, any halls that have nice photos (potentially one big and one small), Great Hall, the Downs, and maybe some external venues like the Atrium, Colwick and Donington.

[2016-01-27 22:22] samozzy commented on #28
Favicons should live in ico and png form in the root folder with index. There's the option of persuading the browser to use it within <head> too.
Using the favicon from dev. is absolutely a solution.

[2016-01-27 23:30] johnathan99j commented on #28
#29

[2016-01-28 10:41] johnathan99j commented on #20
As it didn't get changed should we just change it to the singular version ?

A quick google shows that it's normally singular.(https://en.wikipedia.org/wiki/Production_manager_(theatre))

[2016-01-28 10:44] johnathan99j commented on #11
Any progress on this ?

[2016-01-28 12:31] samozzy commented on #11
Hazel has written this and is going to send it to Team Proofreading today.

[2016-01-28 12:35] johnathan99j commented on #11
Great :)

[2016-01-28 12:37] harry-bridge commented on #16
I can't recreate this on chrome with the inspector so you'll have to ask @nhyty

[2016-01-28 17:12] johnathan99j commented on #28
This is now fixed and is waiting for merge #29

[2016-02-01 00:28] samozzy opened #30 "'New members' bits and pieces"
In an effort to make our website useful to new/prospective members, I propose either a new page or additions to the home and 'join' pages.
These additions would be links to our SU page, members site ("log in with the details found on the sheet given out at new members, or contact us for help" but worded better) and Facebook members group, or instructions on who to contact to get added.
I know we l

[2016-02-01 13:58] johnathan99j commented on #30
I think a members page is a good idea and I'd be happy to give it a shot.

[2016-02-01 14:40] #23 closed

[2016-02-01 17:06] tomtom5152 commented on #30
We used to have join.nottinghamtec.co.uk page that got approximately 0 page views ever. The [get involved](https://github.com/nottinghamtec/Main-Website/blob/master/content/about/get-involved.md) page is comming along nicely with #11 and I would advise focusing on this one.

[2016-02-01 17:09] tomtom5152 commented on #20
That article would suggest that the production manager is responsible for making a single production happen. As TEC does many productions throughout the year and the PM has oversight of all of them, I still believe it should be plural (as is the email address). I feel we need a proper grammar nazi to come in on this.

[2016-02-02 14:28] johnathan99j commented on #20
Due to his view on spelling I'd suggest bonniz.

[2016-02-02 15:39] johnathan99j commented on #20
Judging from this I'm happy to close this issue. This also means that the constitution needs updating.

[2016-02-02 16:52] #28 closed

[2016-02-02 16:58] johnathan99j commented on #19
It would appear that a new photo is required.

[2016-02-02 17:17] samozzy commented on #30
Focussing on #11.

[2016-02-02 17:17] #30 closed

[2016-02-02 17:22] harry-bridge commented on #19
## YES

[2016-02-02 17:24] samozzy commented on #20
Action Point: Update the constitution with Production -> Productions.

[2016-02-02 17:24] #20 closed

[2016-02-02 17:29] samozzy commented on #19
Forum photo is absolutely fine in my view.

[2016-02-03 13:27] tomtom5152 opened #34 "Full screen splash video"
I've only just figured out how to do this hence why I'm only just suggesting it, but how would a full screen splash video on the homepage sound, sort of along the lines of http://www.gitkraken.com/

[2016-02-03 13:37] harry-bridge commented on #34
as long as
- It isn't in potato quality
- It is hosted somewhere where it can load quickly

[2016-02-03 13:38] tomtom5152 commented on #34
Obviously a video would need making for this, I was just trying to get a
feel for if people thought it was a good idea. In terms of hosting, I would
happily put it on my personal S3 account for speed.

On 3 February 2016 at 13:37, Harry Bridge notifications@github.com wrote:

[2016-02-03 13:40] harry-bridge commented on #34
If we can get something made that that is nice enough to have on there then I'd be up for it

[2016-02-03 14:07] johnathan99j commented on #34
I happen to be a perfectly decent quality !

[2016-02-03 21:28] johnathan99j commented on #34
I happen to be a very good quality! !
On 3 Feb 2016 13:37, Harry Bridge <notifications@github.com> wrote:as long as

It isn't in potato qualityIt is hosted somewhere where it can load quickly

—Reply to this email directly or view it on GitHub.

[2016-02-04 21:20] harry-bridge commented on #27
Have a look at [this](https://github.com/nottinghamtec/Main-Website/tree/Venues), it's a start to see what people think (as you will notice it's all the same venue and picture, that's because I'm really _really_ lazy)

Find it under /about/venues

[2016-02-05 15:25] tomtom5152 commented on #27
I'm not overly keen on using datafiles for this. I would recommend creating each venue as it's own page as it creates much greater flexibility. I only used the data directory for committee as it I deliberately wanted the flat uniform look that it gives you.

[2016-02-05 16:43] harry-bridge commented on #27
It's quite nice to see each venue on one page and then also a detail view on a separate page I thought. Is it possible to do that with a load of single pages without a data file?

[2016-02-05 18:13] tomtom5152 commented on #27
Yeah fully, you want a custom archetype and then a new layout for the archetype/summary.html. The committee used to be done like this and I changed to the data file option in 638eaa3 due to the simplicity of what I wanted to show (and to prevent having a dedicated page for each person).

[2016-02-05 18:38] harry-bridge commented on #27
Ok awesome, I'll give it a go

[2016-02-05 19:01] harry-bridge commented on #19
Better?

[2016-02-05 23:45] samozzy commented on #19
Much better by my thoughts. Just wait for the man himself before merging.

[2016-02-05 23:56] johnathan99j commented on #19
Fine by me (Just as well since it's committed to master ;) ) :shipit:

[2016-02-05 23:56] #19 closed

[2016-02-07 10:48] harry-bridge commented on #27
[Venues](https://github.com/nottinghamtec/Main-Website/tree/Venues) has been updated to use archetypes, now someone needs to write some lovely words about each venue.

[2016-03-08 20:24] samozzy opened #36 "New committee"
Uhoh.

[2016-03-11 12:01] tomtom5152 commented on #34
Speaking to Alex he suggested the parallax thing he made for the week one stall would be a good fit, certainly as a stop gap to see what we think. Don't know where this file is mind.

[2016-03-11 13:04] samozzy commented on #34
The file is at least on Playback 1. That's a nice shout.
Harry showed me his version of the YouTube video autoplaying which is quite nice.

[2016-03-17 11:43] johnathan99j commented on #36
#37 Will close this, just waiting on @samozzy to make words

[2016-03-17 11:49] harry-bridge commented on #36
... And photos

[2016-03-18 16:48] samozzy commented on #36
Photos aren't being taken until after Easter now (because we're waiting until we have a treasurer).

[2016-03-18 16:50] tomtom5152 commented on #36
Facebook photos will do in the meantime, it's more the words we need from you Sam

[2016-03-18 17:33] harry-bridge commented on #36
I'll get a better photo for Ben, but yes many words are needed

On Friday, March 18, 2016, Tom Price notifications@github.com wrote:

[2016-03-19 00:40] samozzy commented on #36
Words committed.

[2016-03-19 10:30] harry-bridge commented on #36
Looks good, will have a look properly later and find some semi decent
photos

On Saturday, March 19, 2016, samozzy notifications@github.com wrote:

[2016-03-20 23:46] samozzy opened #39 "Members page"
Link on the drop down with text "Members Login" that links to members.nottinghamtec.co.uk

[2016-03-20 23:47] #36 closed

[2016-03-20 23:50] tomtom5152 commented on #39
:camel:

This is incredibly dull, but will take about 1 line of code.

[2016-03-20 23:50] samozzy commented on #39
Fully aware on both counts.

[2016-03-21 21:42] pickleshb opened #41 "Forum link"
Where do we want this thing, in the footer and possibly somewhere else? Maybe?

[2016-03-25 01:40] samozzy commented on #41
I was thinking in the dropdown. While it's a bit in-your-face, it's sort of where members are going to look...

[2016-03-25 01:41] samozzy commented on #41
Duplicate of #39

[2016-03-27 19:43] tomtom5152 commented on #41
Closed as duplicate of #39

[2016-03-27 19:43] #41 closed

[2016-03-27 19:55] tomtom5152 opened #42 "RAMS"
Having spoken to Vik a bit, we think having all our RAMS on the website might be a good idea. This also allows us to potentially use the website as a data source for CDM integration in RIGS (the game I know you have all been waiting for).

So far I can see two approaches to it.
1. Firstly we could use a data file as we have with the committee. This data file serves as the raw data source for RIGS,

[2016-03-27 20:04] davidtaylorhq commented on #42
I think 1 massive file should be avoided as much as possible.

Having version control on RAMS would be great! However, the RAMS document is not a simple thing that could be reproduced in markdown, I seem to remember it having some pretty complicated table structures.

[2016-03-27 20:09] harry-bridge commented on #42
I'm with David on less giant data files, It's a massive document so I also think pages would't work. If we're going to go down the route of version controlling the RAMS is there a way to have it in a different repo to keep things separate? Or we just say fuck it and plonk the PDF in

[2016-03-27 20:09] samozzy commented on #42
@pickleshb I'm not saying that storing it on the wiki provides version control, but...

[2016-03-27 20:10] davidtaylorhq commented on #42
@pickleshb Agree a separate repo would be ideal

[2016-03-27 20:11] tomtom5152 commented on #42
@samozzy It provides version control, but it doesn't provide a nice way to generate a file for consumption by RIGS.

A separate repo might be an option, but it does introduce potential complications. It does give two things that need to be updated though.

[2016-03-27 20:13] davidtaylorhq commented on #42
@tomtom5152 What are we actually trying to achieve here? If all you want is the RAMS on the website then just use the PDF. If you want auto-generated CDM RAMS packs specific to each rigs then that's a monolithic task

[2016-03-27 20:15] samozzy commented on #42
@davidtaylorhq I feel like a RAMS document that is sectioned appropriately so that it can be split into CDM packs would make sense. Somehow if this can be auto-split into many smaller PDFs that can make a CDM pack it would make sense. If this was automagic when the master document is updated that makes the world of sense.

[2016-03-27 20:16] tomtom5152 commented on #42
The first idea is just to put the RAMS on the website in a sensible way. This should be done in a way that allows us to add the CDM packs to RIGS at a later date. I guess the main goal is to give us the data in a format that could be processed as part of CDM, the pretty version is just for internal use. (from conversations with Vik, CDM pack generation is something RIGS would really benefit from)

[2016-03-27 20:17] davidtaylorhq commented on #42
@tomtom5152 Do we seriously need to do all this, or is it just TEC self-regulating ourselves into the ground again?

[2016-03-27 20:18] harry-bridge commented on #42
From talking to Matt about this he was happy that as we _should_ be carrying an up to date RAMS in every healthy safe kit which is on every rig then it is fine in any document we produce to say,
- Process _x_ done in accordance with RAMS see pp 66-68

So if the police turn up on site and ask for our healthy safe stuff we give them our CDM pack we've made and our big box of RAMS

[2016-03-27 20:19] harry-bridge commented on #42
The thing he really wanted us to be able to do was print off the training sheet of anyone named in the document, but that isn't a discussion for here!

[2016-03-27 20:19] davidtaylorhq commented on #42
@pickleshb If this is all we need then putting hours/days/months into making the RAMS RIGS-consumable is a pointless waste of time

[2016-03-27 20:20] harry-bridge commented on #42
@davidtaylorhq It is, we just have to really make sure we carry an up to date RAMS to **every** rig

[2016-03-27 20:21] davidtaylorhq commented on #42
@pickleshb We should be doing this already. Every H&S box/bag has a folder with the RAMS in it. As far as I know, this is up to date

[2016-03-27 20:23] samozzy commented on #42
@davidtaylorhq I agree with this. If that's all that is required, it is very achievable.

[2016-03-29 00:59] #39 closed

[2016-03-29 12:18] samozzy commented on #34
@tomtom5152 If I get the file, where does it need to go?

[2016-03-29 12:22] tomtom5152 commented on #34
@samozzy Depends how large the file is

[2016-03-29 12:22] harry-bridge commented on #34
/static/videos/ seems a sensible place to put it

[2016-03-29 12:22] harry-bridge commented on #34
or S3

[2016-03-29 12:23] tomtom5152 commented on #34
@pickleshb If it's larger than 50MB GH won't be happy about it so it might have to be S3 or techost etc

[2016-03-29 12:24] samozzy commented on #34
@tomtom5152 I think it's larger.

[2016-03-29 12:25] harry-bridge commented on #34
@samozzy do we have the file located?

[2016-03-29 12:25] tomtom5152 commented on #34
@samozzy Smugmug do offer video hosting, @wjdp knows more about this

[2016-03-29 12:25] samozzy commented on #34
@pickleshb Frustratingly the only place I'm aware of it being is the playback racks, or Alex's machine.

[2016-03-29 14:00] wjdp commented on #34
SmugMug do, upload video and get links to various sizes.

See http://api.smugmug.com/api/v2/image/dbwbrKf-1!sizedetails (look at VideoSizes)

[2016-03-29 14:08] samozzy commented on #34
@wjdp That's convenient - look what I've found https://nottinghamtec.smugmug.com/Reference/Random-Tec-Stuff/i-p8Bcdtn/A

[2016-03-29 22:10] samozzy commented on #27
This looks great. Thanks, Harry.
I have a navigation concern, as there's no (easy) way to get back to the venues page when on a venue, nor is there navigation to the rest of the website. I know that clicking the photo at the top goes back, but I think more is needed. I'll have a think and maybe make something.

I'm also wondering if you had a plan for the dotty button on each venue's menu card?

[2016-03-29 22:12] harry-bridge commented on #27
Hit the handy dandy back button in your browser? I could add some breadcrumbs if you wanted, and that was left over from when it was a pop up card, should probably fix that.

Also this was meant to be a client only page as a kind of portfolio that's why it has no links to the rest of the site

[2016-03-29 22:13] davidtaylorhq commented on #27
@pickleshb Back button works fine, until someone sends you a link to a specific venue in an email or similar

[2016-03-29 22:17] samozzy commented on #27
I agree with David.

I also think the venue name should be on the venue page, and higher and larger than the event name.

[2016-03-29 22:18] harry-bridge commented on #27
So do I, and feel free to play around with it if you want

[2016-03-30 00:03] samozzy commented on #27
Slideshow: Would like progress bars and next/prev buttons.

[2016-03-30 14:17] harry-bridge commented on #27
Are the buttons not enough for you?

<img width="1162" alt="screen shot 2016-03-30 at 15 17 04" src="https://cloud.githubusercontent.com/assets/5897290/14145118/8483d672-f68a-11e5-803e-dfe7a8ff77fe.png">

[2016-03-30 19:18] #34 closed

[2016-03-30 21:19] samozzy commented on #27
Nope. :stuck_out_tongue:

[2016-03-30 21:21] davidtaylorhq commented on #27
Less is more

[2016-03-30 21:25] harry-bridge commented on #27
@davidtaylorhq I don't think materialize has the option for arrows in it's sliders, the dots are enough for me

[2016-03-30 21:27] davidtaylorhq commented on #27
I agree, I think the dots are enough (not that I've actually pulled & built it because I'm lazy)

[2016-03-30 23:47] samozzy commented on #27
Interestingly, your screenshot has dots in the picture and blue. Mine are below the picture and green.

[2016-03-30 23:47] davidtaylorhq commented on #27
@samozzy I blame firefox (at a guess)

[2016-03-30 23:50] samozzy commented on #27
I am 97% certain it is unrelated to the new header.
![dotty](https://cloud.githubusercontent.com/assets/15388319/14161315/7adf68e8-f6da-11e5-9ed3-37a5010a22bc.png)

[2016-03-31 06:53] harry-bridge commented on #27
It is you need to compile your sass man

On Thursday, March 31, 2016, Sam Osborne notifications@github.com wrote:

[2016-03-31 06:55] samozzy commented on #27
@pickleshb But I didn't even edit any CSS...

[2016-03-31 06:58] harry-bridge commented on #27
@samozzy Yes but I did, and the main css file isn't in version control, so you'll need to compile it and everything will look pretty

[2016-03-31 07:02] samozzy commented on #27
@pickleshb Ahhh this makes sense.

[2016-04-03 01:10] samozzy opened #47 "Home page fit"
The top panel of the home page should all be viewable without scrolling on all devices.
That is to say that, without scrolling, users should see "scroll for more".

[2016-04-05 06:44] pickleshb opened #49 "Breadcrumbs"
Thoughts on having breadcrumbs across the whole site a la venues?
<img width="618" alt="screen shot 2016-04-05 at 07 43 46" src="https://cloud.githubusercontent.com/assets/5897290/14273381/2e18f12e-fb02-11e5-8ce0-10e6126a1aed.png">

[2016-04-05 13:20] tomtom5152 commented on #49
Could I get a larger screenshot of it on the whole page please, can't be arsed building today.

[2016-04-05 13:23] #16 closed

[2016-04-05 13:29] samozzy commented on #49
@tomtom5152

[2016-04-05 13:29] tomtom5152 commented on #49
@samozzy ooh me likey

[2016-04-05 13:29] samozzy commented on #49
Because Telegram won't upload photos to github...
![breadcrumbs venues](https://cloud.githubusercontent.com/assets/15388319/14283320/d2e14282-fb3a-11e5-863c-b088d5a66258.png)

[2016-04-05 13:31] harry-bridge commented on #49
@samozzy Now the question is shall I put this on the rest of the site?

[2016-04-05 13:33] samozzy commented on #49
@pickleshb Worth giving it a go - will definitely become useful when we delve into the world of services.

[2016-04-05 13:36] samozzy commented on #47
Only resolved for mobile devices, still too big on my desktop.
![desktop](https://cloud.githubusercontent.com/assets/15388319/14283546/b5179fb6-fb3b-11e5-9b7d-09bb678bb4b0.png)

[2016-04-05 13:37] harry-bridge commented on #47
@samozzy Grrr, I'll have a look at this in a bit

[2016-04-05 14:03] samozzy opened #50 "Mobile issues: other pages"
The floating menu gets in the way of the page text.
Solution: A back to top arrow in the bottom right.
![responsive oops](https://cloud.githubusercontent.com/assets/15388319/14284434/734cb108-fb3f-11e5-806b-c0fe27998fc2.png)

[2016-04-05 14:05] harry-bridge commented on #50
@samozzy Danke I'll fix this too

[2016-04-05 17:43] harry-bridge commented on #50
Also contact-us is funky on mobile
<img width="412" alt="screen shot 2016-04-05 at 18 42 45" src="https://cloud.githubusercontent.com/assets/5897290/14292064/4a1614b8-fb5e-11e5-85ed-8f63597c683e.png">

[2016-04-05 18:47] samozzy commented on #50
Well that's a bit odd.

[2016-04-05 19:20] #47 closed

[2016-04-05 19:20] #50 closed

[2016-04-21 09:19] johnathan99j opened #53 "Footer Links on Homepage"
It's impossible to click any of the links in the footer on the homepage. I took a quick look and it seems that what contains the auto video goes across the whole page, no idea why only the footer is effected.

[2016-04-21 09:45] wjdp commented on #53
@johnathan99j Layering issue probs, more z-index required

[2016-04-21 09:47] wjdp commented on #53
@wjdp And pointer-events: none on the video

[2016-04-23 14:20] #53 closed

[2016-09-20 14:45] harry-bridge opened #55 "Ross want's some things"
- **Kit lists**
  - A list of things that we have so people can see quickly at a glance
- **Venues** (I did this)
- **Acts**
  - List of people we've worked with, makes us look better
- **What we can do**
  - Similar to case studies I feel
- **Case studies**
  - Some nice looking events that we've done
  - Examples of some small to large events
- **Packages**
  - We commonly offer this stuff toget

[2016-10-09 22:26] tomtom5152 opened #57 "Forum redirect"
Redirect /forum to forum.nottinghamtec.co.uk

[2016-12-13 12:12] tomtom5152 opened #62 "About has issues"
It appears we have created DOM infinity somehow
![img_0868](https://cloud.githubusercontent.com/assets/2250882/21139961/6ab2181c-c12d-11e6-9648-6013f99f5149.PNG)

[2016-12-18 01:07] davidtaylorhq commented on #62
fixed this, no idea why it happened in the first place

http://shouldiblamecaching.com/

[2016-12-18 14:44] alexdaniel654 opened #63 "Updated Splash Video"
I'm in the process of updating the dynamic slideshow video I made a few years ago with some new pictures and timelapses etc.

Given its ended up being used here as well as a 16:9 1080p monitor, if you give me a size, I'll make a version that's optimised to the website (doesn't have as many labels/logos and doesn't FTB at the end etc). I can also render it out at a lower bit rate so you don't have

[2016-12-19 01:16] harry-bridge commented on #63
Ooh lovely, 1920x1080 will work well as it gets scaled to the display when it's loaded, I can't remember if the current one has audio but if this one could be without audio as well that would be awesome. From my reading online it seems to be that 4000kbps is the recommended starting bit rate for a 1920x1080 web video

[2016-12-19 12:32] alexdaniel654 commented on #63
h.264 I assume?

[2016-12-19 14:04] davidtaylorhq commented on #63
@alexdaniel654 Yeah, h264 would be perfect :)

[2016-12-20 18:12] alexdaniel654 commented on #63
One 4Mbps H.264 1920x1080 dynamic slideshow thingy. [https://coherencetechnical.co.uk/owncloud/index.php/s/O3rBDo3nfLDk80p](url)

[2016-12-20 18:55] davidtaylorhq commented on #63
That looks great :)

Not sure where @pickleshb got the 4Mbps figure from, but IMO 270mb is way too much for people to be downloading to view our homepage. The current video is 80mb, so if we can get closer to that then it would be preferable.

I just ran the new video through handbrake with an average bitrate of 700kbps and it didn't look bad - file was 48mb. Obviously would be better if @alexdani

[2016-12-20 18:56] alexdaniel654 commented on #63
Cause, stand by.

[2016-12-20 18:56] davidtaylorhq commented on #63
If the compression makes it look utterly awful, the alternative is reducing the length of it

[2016-12-21 00:52] alexdaniel654 commented on #63
Slightly more mashed potato version with some bits cut out. https://coherencetechnical.co.uk/owncloud/index.php/s/OheYraCZ7SxW08M

[2016-12-21 01:36] davidtaylorhq commented on #63
Tried hosting this on smugmug... but smugmug recompressed it to be twice it's original size... *facepalm*

Now hosted on static.nottinghamtec.co.uk, which is an CNAME to an S3 bucket, with cloudflare caching enabled. Seems much quicker than before, and looks less potato quality.

Thanks @alexdaniel654 :)

[2016-12-21 01:36] #63 closed

[2016-12-21 17:18] davidtaylorhq opened #64 "Video causing excess CPU usage"
Tempo reports his university laptop using 30% CPU for the video, this is bad. Needs investigation

[2016-12-21 17:19] davidtaylorhq commented on #62
It's returned

[2016-12-21 17:30] davidtaylorhq commented on #64
Specs:
4 core i5-2450M 2.5GHz. 8GB RAM. Decent SSD. On-board graphics card (driver is Intel HD Graphics 3000)

Chrome

[2016-12-21 17:40] tomtom5152 commented on #64
Checked on a similar spec machine from around the same era running Windows 7 ultimate x64 which is more viruses than Windows (not my machine), got a consistent 10% peaking at 18% with software decoding. Suggest this might be an extreme example.

[2017-01-13 13:17] samozzy opened #65 "Pages attempting to link as .html"
Subpages 404-ing as all links are attempting to be *.html

[2017-01-13 13:22] harry-bridge commented on #65
@samozzy I think this is related to the dodgy version of hugo travis uses, I had a similar issue with my site this morning so will have a look later

[2017-01-13 22:08] #65 closed

[2017-01-14 01:59] harry-bridge commented on #62
Fixed in #67

[2017-01-14 01:59] #62 closed

[2017-01-20 17:27] harry-bridge opened #69 "Move to Jekyll"
As has become apparent recently HUGO isn't stable for us going forward so @tomtom5152 and I think that switching over to Jekyll will be better for us in the long run, it won't be that much effort and could open up more possibilities in the future that we can't do with HUGO

[2017-01-20 18:10] davidtaylorhq commented on #69
@pickleshb Many efforts, but I agree. Why did we even go for Hugo in the first place?

[2017-01-20 18:33] harry-bridge commented on #69
@davidtaylorhq blame @tomtom51512

[2017-01-20 18:33] tomtom5152 commented on #69
@davidtaylorhq That was entirely my choice, based on no experience, I now think jekyll is the better platform. As Harry said, it won't be that much effort, maybe just changing some of the variables and syntax in the templates, and rewriting the committee page logic (not difficult)

[2017-01-20 18:34] davidtaylorhq commented on #69
@tomtom5152 Fair enough - wasn't trying to be rude about the choice, just interested.
Do they use the same template syntax?

[2017-01-20 18:34] harry-bridge commented on #69
@tomtom5152 I'll probably have a bash at the end of exams

[2017-01-21 16:24] johnathan99j opened #70 "Our domains, unifying versions."
Happened upon http://soundandlights.co.uk/ today (much boredom). It's still on the old version of the website.

[2017-01-21 16:28] davidtaylorhq commented on #70
Fixed it

[2017-01-21 16:28] #70 closed

[2017-03-20 15:11] samozzy opened #73 "New SU Branding"
Probably need to update the SU logos on the website.

#rebrand

[2017-03-20 18:23] tomtom5152 commented on #73
Closed in cc55137

[2017-03-20 18:23] #73 closed

[2017-03-21 00:07] alexdaniel654 opened #74 "tecpaandlighting.co.uk website"
The website at the above address isn't the same as the one at nottinghamtec.co.uk. This could be somewhat confusing for clients to find two different websites for the same company.

[2017-03-21 00:15] davidtaylorhq commented on #74
@alexdaniel654 Fixed it

[2017-03-21 00:15] #74 closed

[2017-03-22 11:56] samozzy opened #75 "Committee 17/18"
Need to change the things.

[2017-04-10 10:56] #57 closed

[2017-06-21 22:46] #75 closed

[2017-06-21 23:36] alexdaniel654 commented on #75
The first word of the paragraph about Ross is wrong. Should be Ross' instead of Ross's.

[2017-06-21 23:45] davidtaylorhq commented on #75
For a simple noun, you would be correct. For a name, I believe Ross's is correct

From [here](https://en.oxforddictionaries.com/punctuation/apostrophe)

[2017-06-21 23:47] alexdaniel654 commented on #75
I stand corrected, although I would argue Ross is a VERY simple noun!

[2017-10-16 12:48] johnathan99j commented on #64
Given this hasn't come up since and I also can't replicate it I'm calling it an outlier.

[2017-10-16 12:48] #64 closed

[2017-10-16 13:12] alexdaniel654 opened #79 "Committee info out of date"
Almost everyone needs one adding to the year they are through their course. i.e. Ross isn't second year any more.

[2017-10-16 13:17] #79 closed

[2017-10-18 12:42] johnathan99j commented on #55
So I'm thinking something along these lines, a new menu section on the top level with "Why Us?" as the lable that has in it things like:

- Out Kit
- Packages
- Acts
- Venues
- etc.

A possible acts page, obviously the blurb at the top needs work. Thoughts? Data taken from the wiki.

![image](https://user-images.githubusercontent.com/15066398/31718942-9de0c0e2-b409-11e7-89df-313218439a81.png)

[2017-10-18 19:41] johnathan99j commented on #27
Made it so that all venues have there own photos so there's no more placeholders any more. Words are still required in some places. Also added the Albert Hall. This also ties to #55

[2018-08-18 15:46] johnathan99j opened #81 "Image Optimisation"
So I've discovered [an image optimisation bot](https://github.com/marketplace/imgbot), any objections to me running it through this repo? I'd suggest PyRIGS as well but I can't really think of any images on the site that come from the repo.

[2018-08-18 15:47] davidtaylorhq commented on #81
@johnathan99j No harm in letting it create a PR, then we can review any changes

[2018-08-18 15:55] johnathan99j commented on #81
Well everything's passed on #82 and as it's lossless compression I see no reason not to merge it.

[2018-08-18 18:14] johnathan99j commented on #81
Closed with #82

[2018-08-18 18:14] #81 closed

[2018-09-02 12:23] Jason-TEC opened #83 "Wiki Competent Persons - Generators"
Is someone able to add a column for generators to the wiki...

Would be really handy

[2018-09-02 12:24] Jason-TEC commented on #55
Is there a reason this didn't happen?

[2018-09-02 12:31] BenWoodford76 commented on #83
Give me a list of who can do it and i'll sort it

[2018-09-02 12:37] BenWoodford76 commented on #83
Done

[2018-09-02 12:38] Jason-TEC commented on #83
Thanks Ben

[2018-09-02 12:47] #83 closed

[2018-09-02 12:50] johnathan99j commented on #83
While I realise that @Jason-TEC is new to GitHub you should try to keep anything here related to the public website only.

[2019-01-29 17:34] bobbinz opened #86 "Twitter address is wrong"
The link to twitter is incorrect. I would update it but I simply have no idea how!

[2019-01-29 17:46] davidtaylorhq commented on #86
Done

[2019-01-29 17:46] #86 closed

[2019-01-29 17:51] johnathan99j commented on #86
In 29988504e1c19505789d4f6ab41e3fe72985a554 and b8150c1835e59cec237887b1320f4f5d8c8e9fdc for reference.

[2019-01-29 18:15] davidtaylorhq commented on #86
@johnathan99j and https://github.com/nottinghamtec/Main-Website/commit/2adbb041df7f863e8f5492947035de1195eb1c6a because I accidently mashed the keyboard when clicking save the first time 😉

[2019-01-29 18:24] bobbinz commented on #86
I did that once. On postec hit chmod 644 / rather than chmod 644 *

Broke quite a lot of stuff.

[2019-01-29 18:33] tomtom5152 commented on #86
@bobbinz I think I remember this, there was much swearing

[2019-01-29 19:02] bobbinz opened #87 "Room Number"
Reads C45 instead of C87

[2019-01-29 19:04] bobbinz commented on #87
Fixed in 3f9cb20

[2019-01-29 19:04] #87 closed

[2019-01-29 19:09] johnathan99j commented on #87
@bobbinz have a look at https://help.github.com/articles/closing-issues-using-keywords/

TL;DR
`Update contact.md will close #87` Would automatically close the issue when you pushed, very useful.

[2019-01-29 19:11] bobbinz commented on #87
Blimey that's far too complicated.

[2019-03-11 15:06] alexdaniel654 opened #90 "PLASA Branding"
Looks like PLASA have had a minor re-brand. Should probably update the logo to [this new one](https://www.plasa.org/downloadarea/plasa/) but in grayscale à la the current one on our website.

[2019-03-11 15:09] tomtom5152 commented on #90
You'd think they would provide a vector version or at least one without a white halo on the transparency 🙄

Do they actually use a grayscale one anywhere, I don't really care what their opinion on it is, but some companies get funny about you modifyingtheire logo in any way at all so would be nice to not piss them off

[2019-03-11 15:09] alexdaniel654 opened #91 "Instagram Breadcrumb"
There's Facebook and Twitter breadcrumbs, should probably add Instagram now we're using that too.

[2019-03-11 15:11] alexdaniel654 commented on #90
I seem to remember having to make an eps myself last time. They use an all white version on the bottom of their website, could probably do the same.

[2019-03-11 16:07] FreneticScribbler commented on #91
Yes, we probably should. If I get bored...

[2019-03-11 23:13] alexdaniel654 commented on #90
![PLASA_white_2019_HR](https://user-images.githubusercontent.com/23356429/54164068-342f4c00-4453-11e9-8e37-b8f873522a16.png)
Have a high res white PLASA logo.

[2019-03-15 09:19] FreneticScribbler commented on #11
This is now superseded by the join site ;)

[2019-03-15 09:19] #11 closed

[2019-03-15 19:10] #91 closed

[2019-03-15 23:31] #90 closed

[2019-05-28 10:00] johnathan99j opened #95 "Remove members officer from committee page"
I'll pick it up when I get a chance if someone doesn't beat me to it.

[2019-06-01 20:44] #95 closed

[2019-09-13 13:07] johnathan99j opened #97 "Update PLI 19-20"
[PLI 2019-20.pdf](https://github.com/nottinghamtec/Main-Website/files/3610140/PLI.2019-20.pdf)

[2020-06-17 08:29] FreneticScribbler commented on #69
Intresting that Bootstrap have just switched the other way. Going to take a look at sticking with Hugo (no arguments with Ruby is a massive plus to me...)

[2020-06-18 10:34] #42 closed

[2020-06-18 10:44] alexdaniel654 opened #101 "New Committee"
Committee page needs updating to reflect AGM results.

Also I would suggest updating everyone's course year now so it doesn't get forgotten e.g. Arona becomes third year etc.

[2020-06-18 10:46] FreneticScribbler commented on #101
Yes - I have it sitting ready locally, just waiting on a picture from Joe :+1:

[2020-06-30 17:53] #12 closed

[2020-06-30 17:53] #97 closed

[2020-06-30 17:53] #101 closed

[2020-07-09 18:41] #55 closed

[2021-02-14 22:13] FreneticScribbler commented on #69
Go good, Ruby bad

[2021-02-14 22:13] #69 closed

[2021-02-14 22:17] FreneticScribbler opened #106 "Move from Travis-CI to Github Actions"
Per https://github.com/nottinghamtec/PyRIGS/issues/415

[2021-08-05 20:22] FreneticScribbler commented on #106
Done :D

[2021-08-05 20:22] #106 closed